<div class="vid-card">
    <img src="../{{thumbnail}}" alt="Thumbnail">
    <div class="vid-card-container">
        <h3 class="vid-title"> <b>{{title}}</b>  </h3>
        <a href="/posts/{{id}}">View Post</a>
    </div>

</div>