
<div id="flash-message">
    {{#if messages.error}}
        <div id="flash-message-fail">{{messages.error}}</div>
    {{else}}
        <div id="flash-message-sucs">{{messages.success}}</div>
    {{/if}}
</div>