<div class='dropdown-menu-nobs'>
    <div class='dropdown-menu-items'>
        <a class='nav-items' href="/users/profile/{{user.userId}}">Hi, {{user.username}}</a>
        <form action="/users/logout" method="post">
            <button class='nav-items' type='submit'>Log out</button>
        </form>
    </div>
</div>