<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta property="og:image:secure_url" content="https://cdn.discordapp.com/avatars/435867562127917096/023a816c4a595a3a2d96b9542a6cafa6.webp?size=32">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{#each js}}
      <script defer src="/public/js/{{this}}"></script>
    {{/each}}
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">
  </head>
  <body>
    {{>header}}
    {{{body}}}
    {{> footer}}
    
  </body>

</html>
