<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta property="og:image:secure_url" content="https://cdn.discordapp.com/avatars/435867562127917096/023a816c4a595a3a2d96b9542a6cafa6.webp?size=32">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script defer src="/public/js/flashmessage.js"></script>
    {{#each js}}
      <script defer src="/public/js/{{this}}"></script>
    {{/each}}

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
    <link rel="stylesheet" type="text/css" href="H:/Users/Luca/Documents/GitHub/csc317-code-AglarEnGar/application/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">
  </head>
  <body>
    {{> flashmessage this}}
    {{>header}}
    {{{body}}}
    {{> footer}}
    
  </body>

</html>
