<main id="main-content">
        <img src="https://fakeimg.pl/350x200/ff0000/000" title="red">
            <div id="card-count">
    
            </div>
            <div class="api_grid" id="api_grid" >
        
            </div>
</main>
