<main id="main-content">
    {{#if messages.info}}
        {{messages.info}}
    {{/if}}
    <div class="vid-cards">
        {{#each posts}}
            {{>card this}}
        {{/each}}
    </div>

</main>
<br>