<main>
    <h2 class="post-video-page">Post Video</h2>
    <form id="post-image" class="input-form" action="/posts/create" method="POST" enctype="multipart/form-data">
        <div class="input-layouts">
            <label for="vtitle">Video Title</label>
            <input class= 'vid-input' type="text" name="title" id="vtitle" placeholder="Video Title">
        </div>
        <div class="input-layouts">
            <label for="description">Description:</label>
            <input class= 'vid-input' type="text" name="description" id="description" placeholder="Description">
        </div>
        <div class="input-layouts">
            <label for="upload">Upload Video</label>
            <input class= 'vid-input' type="file" name="uploadVideo" id="upload" value = "Upload">
        </div>
        <div class="input-layouts">
            <label for="acceptuse">Acceptable Use Policy</label>
            <input class= 'vid-input' type="checkbox" name="AcceptableUsePolicy" id="acceptuse">
        </div>
        <div class="input-layouts">
            <input class= 'vid-input' type="submit" value="Submit">
        </div>

    </form>
</main>
