<main>
<h2>Your Profile</h2>
<section>
    <h3><b>Username</b></h3>
    <h4><i>email</i></h4>
    
    <details>
        <summary>Post History</summary>
        <p>
            <ol>
                <li><a href="#">Post 1</a></li>
                <li><a href="#">Post 2</a></li>
                <li><a href="#">Post 3</a></li>
                <li><a href="#">Post 4</a></li>
                <li><a href="#">Post 5</a></li>
                <li><a href="#">Post 6</a></li>
            </ol>
        </p>
    </details>
        
    
</section>
</main>