<main>
<h2>Your Profile</h2>
<section>
    <div class='profile'>
        <h3><b name = "username" class = 'profile-dets'>Username: {{user.username}}</b></h3>
        <img class = 'profile-dets' src="https://cdn.discordapp.com/attachments/1011800990669864990/1103921595464024185/image.png" alt="">
        <h4><i name = "email" class = 'profile-dets'>Email: {{user.email}}</i></h4>
    </div>
    
    
    <details>
        <summary>Post History</summary>
        <p>
            <ol>
                <li><a href="#">Post 1</a></li>
                <li><a href="#">Post 2</a></li>
                <li><a href="#">Post 3</a></li>
                <li><a href="#">Post 4</a></li>
                <li><a href="#">Post 5</a></li>
                <li><a href="#">Post 6</a></li>
            </ol>
        </p>
    </details>
        
    
</section>
</main>