<a href="#nav-bar" class="jump-to-top-button" id="jump-to-top-button">Back to the Top</a>

<main>
    <h2>Working Post Title</h2>
    <h3>Author</h3>
    <figure>
        <figcaption>Creation Time and Date</figcaption>
        <video width="500px" height="300px"
            controls="controls"/>
            <source src="https://cdn.discordapp.com/attachments/936818062341058611/1078606124921655389/max.mp4" type="video/mp4" alt = "A cat spinning around with goofy music">
        </video>
    </figure>
    <aside class="comments">
        <b id="commentsection" class="comments">Comments Section:</b> 
            <div class="comment">
                comment 1
            </div>
            <div class="comment">
                comment 2
            </div>
            <div class="comment">
                comment 3
            </div>
            <div class="comment">
                comment 4
            </div>
            <div class="comment">
                comment 5
            </div>
            <div class="comment">
                comment 6
            </div>
            <div class="comment">
                comment 7
            </div>
            <div class="comment">
                comment 8
            </div>
    </aside>
</main>
