h1 {
  color: white;
  background-color: rgb(88, 88, 88);
  border: 1px solid black;
}

body {
  width: 100%;
  background-color:rgb(162, 159, 167);

}

nav {
  background-color: black;
  color: azure;
  border: 2px solid gray;
}

img[title~="red"] {
  border: 5px solid yellow;
}

input[type="submit"]:hover {
  background-color: yellow;
  color: rgb(139, 22, 14);
  border: 3px black;
  font-size: large;
}

#commentsection {
  background-color: bisque;
  border: 1em solid darkcyan;
  color: blueviolet;
  font-size: large;
  font-family: monospace;
}

.comments {
  color:aliceblue;
  background-color: darkblue;
}

.valid-text {
  color: solid green;
}

.invalid-text {
  color: solid red;
}

.api_grid {
  background-color: #eeeeee6b;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-content: center;
  
}
.album {
  background-color: burlywood;
  border-radius: 2px;
  border: black;
  margin: 5px;
}

.album-details {
  border: black;
}

.album-title {
  margin: 5px;
  text-indent: 10%;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  height: 42px;
}
#card-count{
  font-size: large;
  font-family: monospace;
}
.album-url {
  max-width: 250px;
}
footer{
  color: white;
  background-color: black;

}
a:visited {
  color: #19a162;
}
